<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta property="og:image" content="/images/12.jpg" />
    <title>Happy Father's Day Dad</title>
    <LINK href="/css/dstyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 style="text-align: center; font-size: 40px;">Happy Father's Day</h1>
    <p style="text-align: center; font-size: 30px;"> Happy father's day Dad, it's been a big year and it's been a great year, here's some activities to start off the next year great</p>
    <div class="pin">
      <div class="activitySection">
        <img src="/images/tennis.png" alt="">
        <div class="activityText">
          <p>
            Play Tennis
          </p>
        </div>
      </div>

      <div class="activitySection">
        <img src="/images/biking.png" alt="" class="activityIcon">
        <div class="activityText">
          <p>
            Go Biking
          </p>
        </div>
      </div>

      <div class="activitySection">
        <img src="/images/swimming.png" alt="" class="activityIcon">
        <div class="activityText">
          <p>
            Go Swimming
          </p>
        </div>
      </div>

      <div class="activitySection">
        <img src="/images/camping.png" alt="" class="activityIcon">
        <div class="activityText">
          <p>
            Go Camping
          </p>
        </div>
      </div>


      <div class="activitySection">
        <img src="/images/fireworks.png" alt="">
        <div class="activityText">
          <p>
            See Fireworks
          </p>
        </div>
      </div>

      <div class="activitySection">
        <img src="/images/movie.png" alt="">
        <div class="activityText">
          <p>
            See A Movie
          </p>
        </div>
      </div>
    </div>


  </body>


</html>

<script type="text/javascript">


</script>
