<!DOCTYPE html>

<head>

 <title>Welcome to my website</title>


<LINK href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body >
  <div id = "navBar">
    <div class="navElement">
      <a class = "navElement "  href="#">About Me</a>
    </div>
    <div class="navElement">
      <a class = "navElement "  href="/download/myResume">My Resume</a>
    </div>
    <div class="navElement">
      <a href="/NewYears">Here's a link to my newyears website</a>
    </div>
  </div>


<div class="container">

  <div id = "bioContainer">
    <div id="bio">
      <div class="biotext">
        <p>Hello, my name is Quinn Paterson. I'm a software engineering student</p>
      </div>

      <div class="bioPictures">
        <img src="/images/britanniaBeach.jpg" alt="icbc logo" height="400" width="100%">
        <img src="/images/profilePicture.jpg" alt="icbc logo" height="400" width="100%">
      </div>


    </div>

    <div id="timeline">
      <h1>Where I've Been</h1>
    </div>
  </div>


  <div id="plans">
    <div class="planSection">
      <h1> Where I Am</h1>
      <h2> Spring 2019 </h2>
      <p>I'm right now working at ICBC in North Vancouver as a Test / development Co-op.</p>

      <img src="/images/icbc.jpg" alt="icbc logo" height="200" width="200">

    </div>

    <div class="planSection">
      <h1> Where I'm Going</h1>
      <h2> Summer 2019 </h2>
      <p class = "questionIcon">?</p>
      <p> I'm right now looking for work for the summer of 2019 (May - September)
      <a href="/download/resume"> here's my resume</a>
    </p>
    </div>

  </div>
</div>




</body>

<script type="text/javascript">


</script>
