<!DOCTYPE html>

<head>

 <title>Welcome to my website</title>

<style>
  body {
        background-color: rgb(116, 157, 224, 0.5);
        color: white;
        opacity: 0.5;

        }
  button {
        height: 40px;
        margin-top: 5px;
        width: 200px;
        font-size: 20px;
        }

  div{
    width:  900px;
  }
</style>

</head>

<body>
  <p>Hello, my name is Quinn Paterson and this is my website</p>
  <a href="/NewYears">Here's a link to my newyears website</a>

</body>

<script type="text/javascript">


</script>
