<!DOCTYPE html>

<head>
 <LINK href="/css/style.css" rel="stylesheet" type="text/css">

 <title>Happy New Years</title>

<style>
  body {
        background-color: rgb(116, 157, 224, 0.5);
        color: white;
        }
  button {
        height: 40px;
        margin-bottom: : 5px;
        width: 200px;
        font-size: 20px;
        }

  div{
    width:  900px;
  }

  .nyBody{
    background-color: #000066;
    width: 100%;
    height: 100%;
  }
</style>

</head>

<body>
  <div id = "navBar">
    <div class="navElement">
      <a  href="/home">About Me</a>
    </div>
    <div class="navElement">
      <a  href="/download/myResume">My Resume</a>
    </div>
    <div class="navElement">
      <a href="/NewYears">Here's a link to my newyears website</a>
    </div>
  </div>


  <div class="nyBody">
    <div style="margin-left: 22%">
      <p id = "wishes" align="center" style="font-size: 40px; height: 100px;"></p>
      <canvas id="myCanvas" width="900px" height="500" style="border:1px solid #000000; margin-left:60px">
      </canvas>
    </div>


    <p id = "conStatus" style="margin-top: 100px; font-size: 30px; "></p>
    <div>
      <button type="button" name="button" onclick="AddWish()" style="align:left">Add A Goal</button>
      <input type="text" id="wish" style = "height: 40px; width: 200px;">
    </div>

    <button type="button" name="button" onclick="Fireworks()" style="align:left" >Happy New Years</button>
    <button type="button" name="button" onclick="FireworksCont()" id = "next" style="visibility: hidden;">Next Goal</button>
  </div>

</body>

<script type="text/javascript">
var GoalList;
var GoalCount = 1;


function AddWish(){
  var http = new XMLHttpRequest();
  var url = 'https://patersonchrismas.azurewebsites.net/goals';
  var params = 'message='+document.getElementById("wish").value;
  http.open('POST', url, true);

  //Send the proper header information along with the request
  http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

  http.onreadystatechange = function() {//Call a function when the state changes.
      if(http.readyState == 4 && http.status == 200) {
          document.getElementById("conStatus").innerHTML = "Successfully submitted your goal";
      }
  }
  http.send(params);
}

function Fireworks(){
  var http = new XMLHttpRequest();
  document.getElementById("conStatus").innerHTML = "Finding out everyones goals, just wait...";
  http.open("GET", "https://patersonchrismas.azurewebsites.net/goals", true);

  http.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      GoalList = JSON.parse(this.responseText);
      document.getElementById("wishes").innerHTML = GoalList[0].goal;

      document.getElementById("next").style.visibility = "visible";
      document.getElementById("conStatus").innerHTML = "See every goal, press the next goal button";
      GenerateFirework();
    }
  };

  http.send();
}

function FireworksCont(){

  document.getElementById("conStatus").innerHTML = "";
  document.getElementById("wishes").innerHTML = GoalList[GoalCount].goal;
  GoalCount = (GoalCount+1)%(GoalList.length);
  GenerateFirework();
}

function GenerateFirework(){
  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");

  ctx.beginPath();
  ctx.arc(Math.random()*800, Math.random()*500, Math.random()*50, 0, 2 * Math.PI);
  ctx.fillStyle = "red";

  var randVal = Math.random()
  if (randVal > 0.3){
    ctx.fillStyle =  "#ffffb3"
  }

  if (randVal > 0.7){
      ctx.fillStyle =" #208000"
  }

  ctx.fill();
  ctx.stroke();
}

</script>
