<!DOCTYPE html>

<head>

 <title>Happy New Years</title>

<style>
  body {background-color: #000066;
        color: white;
        }
  button {
        height: 40px;
        margin-top: 5px;
        }

  div{
    width:  900px;
  }
</style>

</head>

<body>
  <div style="margin-left: 50px">
    <p id = "wishes" align="center"></p>
    <canvas id="myCanvas" width="900px" height="500" style="border:1px solid #000000; margin-left:60px">
    </canvas>
  </div>


  <p id = "conStatus" style="margin-top: 100px"></p>
  <div>
    <button type="button" name="button" onclick="AddWish()" style="align:left">Add A Wish</button>
    <input type="text" id="wish" style = "height: 40px;">
  </div>

  <button type="button" name="button" onclick="Fireworks()" style="align:left" >Happy New Years</button>
  <button type="button" name="button" onclick="FireworksCont()" id = "next" style="visibility: hidden;">Next Goal</button>
</body>

<script type="text/javascript">
var GoalList;
var GoalCount = 1;


function AddWish(){
  var http = new XMLHttpRequest();
  var url = 'https://patersonchrismas.azurewebsites.net/goals';
  var params = 'message='+document.getElementById("wish").value;
  http.open('POST', url, true);

  //Send the proper header information along with the request
  http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

  http.onreadystatechange = function() {//Call a function when the state changes.
      if(http.readyState == 4 && http.status == 200) {
          document.getElementById("conStatus").innerHTML = "Successfully submitted your goal";
      }
  }
  http.send(params);
}

function Fireworks(){
  var http = new XMLHttpRequest();
  document.getElementById("conStatus").innerHTML = "Finding out everyones wishes, just wait...";
  http.open("GET", "https://patersonchrismas.azurewebsites.net/goals", true);

  http.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      GoalList = JSON.parse(this.responseText);
      document.getElementById("wishes").innerHTML = GoalList[0].goal;

      document.getElementById("next").style.visibility = "visible";
      document.getElementById("conStatus").innerHTML = "See every goal, press the next goal button";
    }
  };

  http.send();
}

function FireworksCont(){

  document.getElementById("conStatus").innerHTML = "";
  document.getElementById("wishes").innerHTML = GoalList[GoalCount].goal;
  GoalCount = (GoalCount+1)%(GoalList.length-1);
}

</script>
